<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Chit Fund
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button (click) = "createPopOver()">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
      <ion-label style="margin-left: 20px;">Chit Funds Groups</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-chats></app-chats>
</ion-content>